@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes floatAnimationY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-10px);
  }
}
@keyframes floatAnimationX {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.animate-float-y {
  animation: floatAnimationX 3s infinite ease-in-out;
}
.animate-float-x {
  animation: floatAnimationY 3s infinite ease-in-out;
}